<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div id="main">

        <div id="page1">
            <div id="left">
                <div id="house">
                    <img src="/images/login/house-illustration-rentback-erin-davidson-removebg-preview.png" alt="">
                </div>
                <img src="/images/login/modern-ufo-abduction-concept-with-flat-design_23-2147912193-removebg-preview.png"
                    alt="">
            </div>
            <div id="right">
                <form action="/reset" method="post">
                    <h1>Forget Password ??</h1>
                    <h2 style="color: red;">Don't worry</h2>
                    <input type="email" name="email" placeholder="enter Email" id="">

                    <!-- <div id="i">
                        <input type="checkbox" name="login" placeholder="" id="i">
                        <h3>Logged In</h3>
                    </div> -->
                    <button>send email</button>
                    <div id="a">
                        <a href="/">Create new account </a> <a href="/login">Login</a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</body>

</html>