<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <style>
        input {
    border-radius: 10px
px
;
    height: 33px;
    box-shadow: 1px 10px 10px #acd0ee;
    width: 153%;
}
    </style>
</head>

<body>
    <div id="main">

        <div id="page1">
            <div id="left">
                <div id="house">
                    <img src="/images/login/house-illustration-rentback-erin-davidson-removebg-preview.png" alt="">
                </div>
                <img src="/images/login/modern-ufo-abduction-concept-with-flat-design_23-2147912193-removebg-preview.png"
                    alt="">
            </div>
            <div id="right">
                <form action="/setpassword/<%= user._id %>" method="post">
                    <h1>Reset Password</h1>
                    <h2 style="color: red;">Change your password!</h2>
                   <div>
                    <input type="password" name="password" placeholder="enter password" id="">
                    <i class="far fa-eye" id="togglePassword" style=" cursor: pointer;font-size: 18px; width: 40px;height: 40px; display: flex;justify-content: center;align-items: center;"></i>
                   </div>

                   <div>
                    <input type="password" name="confirmpassword" placeholder="enter password" id="">
                    <i class="far fa-eye" id="togglePassword" style=" cursor: pointer;font-size: 18px; width: 40px;height: 40px; display: flex;justify-content: center;align-items: center;"></i>
                   </div>


                  <!-- <div id="i">
                        <input type="checkbox" name="login" placeholder="" id="i">
                        <h3>Logged In</h3>
                    </div> -->
                    <button>Login</button>
                    <div id="a">
                        <a href="/">Create new account </a> <a href="/login">Login</a>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('#togglePassword');
      const password = document.querySelector('#password');
    
    
      const confirmtogglePassword = document.querySelector('#confirmtogglePassword');
      const confirmpassword = document.querySelector('#confirmpassword');
    
      togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    
    confirmtogglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = confirmpassword.getAttribute('type') === 'password' ? 'text' : 'password';
        confirmpassword.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('fa-eye-slash');
    });
    
    </script>


</body>

</html>